{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>보고보고</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/all2.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="banner">
    <img src="{% static 'img/title.png' %}" alt="banner" width="300px" height="130px">
</div>
<div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="{%url 'home' %}"><img src="{% static 'img/cart.png' %}" height="34px" width="40px">HOME</a>
                        
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="#">SALE <span class="sr-only">(current)</span></a>
                            </li>
                          
                            <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      편의점
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="{%url 'gs25' %}">GS25</a>
                                            <a class="dropdown-item" href="{%url 'cu' %}">CU</a>
                                            <a class="dropdown-item" href="{%url 'emart' %}">이마트24</a>
                                            <a class="dropdown-item" href="{%url 'ministop' %}">미니스톱</a>
                                            <a class="dropdown-item" href="{%url 'seven' %}">세븐일레븐</a>
                                    </div>
                                  </div>
                          
                          </ul>
                          <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                        </div>
                      </nav>
        
   
                    </div>
                    <section class="container">
                        <div id="blog">
                            <div class="post">
                                <div class="jumbotron jumbotron-fluid">
                                    <div class="container">
                                      
                                      <h1 class="display-4">E-mart 편의점 행사 품목</h1>
                                      <p class="lead">매월 새롭게 진행되는 다양한 행사상품으로 즐거움을 드립니다.</p>
                                    </div>
                                  </div>
                                 
                                        <section id="middle">
                                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                          {% for item in posts %}
                                          
                                                                <div class="card" style="width: 300px; height: 460px; float: left;">
                                                                    <img src="{{item.prodImg}}" class="card-img-top" alt="...">
                                                                    <div class="card-body">
                                                                      <p class="card-text">{{item.prodName}}</p>
                                                                      <p class="card-text">{{item.prodEventType}}</p>
                                                                      <p class="card-text">{{item.prodPrice}}</p>
                                                                    </div>
                                                                  </div>
                                         
                                      {% endfor %}
                                                                   
                                    </div>
                                    
                                     </section>
                                  
                                  <div>
                                      <nav aria-label="Page navigation example">
                                              <ul class="pagination">
                                              {%if posts.has_previous%}
                                                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                                                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
                                              {%endif%}
                              
                                              <li class="page-item"><a class="page-link" href="#">{{posts.number}}</a></li>
                              
                                              {%if posts.has_next%}
                                                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
                                                <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Last</a></li>
                                              {%endif%}
                                              </ul>
                                            </nav>
                                          </div>
                                    
                              </div>
                              </div>
                      </section>
</body>
</html>