body {
    font-family: 'Jua', sans-serif;
    font-weight: 300;
    background-image: url("/static/img/intro.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    width: 100%;
    height: 100%;
}

div{ 
    margin-top: 5%;
    text-align: center;
}



